<a href="https://colab.research.google.com/github/alihojatnia/rdkit/blob/main/Functional_group_desc_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
!pip install rdkit

In [ ]:
from rdkit.Chem.Draw import IPythonConsole
from rdkit import Chem

In [ ]:
import pandas as pd
import numpy as np
from rdkit import Chem
from rdkit.Chem.Draw import IPythonConsole
from rdkit.Chem import AllChem

Day light smart functionagroups

### https://www.daylight.com/dayhtml_tutorials/languages/smarts/smarts_examples.html

RDKit glbal feature which are related to the functional gruops

https://github.com/rdkit/rdkit/blob/master/Data/FragmentDescriptors.csv

https://docs.chemaxon.com/display/docs/attachments/attachments_1829721_1_functionalgroups.cxsmi

https://docs.chemaxon.com/display/docs/predefined-functional-groups-and-named-molecule-groups.md

#Functional groups

In [ ]:
smarts = [rdkit_smarts+daylight_smarts+chemaxon_smarts][0]
print(len(smarts))
#Drop Duplicate
smarts = list(set(smarts))
print(len(smarts))

397
347

In [ ]:
#return would be a list of number of functiolan groups
def check_for_smart(smiles,smarts):
  results_of_smarts = []
  mol = Chem.MolFromSmiles(smiles)
  
  for i in smarts:
    smart_pattern = Chem.MolFromSmarts(i)
    if mol.HasSubstructMatch(smart_pattern):
      results_of_smarts.append(len(mol.GetSubstructMatches(smart_pattern)))
    else:
      results_of_smarts.append(0)
  return results_of_smarts    

#list_to_series
def list_to_series(results_of_smarts:list,df:pd.DataFrame)->pd.Series: 
  return pd.Series(results_of_smarts, index=df.columns)

In [ ]:
#Smiles list

freesolv_df = pd.read_csv('https://deepchemdata.s3.us-west-1.amazonaws.com/datasets/freesolv.csv.gz')
sm = freesolv_df['smiles']

# Cols with the len(smarts)
cols = {str(i): 0 for i in range(len(smarts))}
# Create datafarame
df = pd.DataFrame(cols, index=[0])

#for loop over smiles to raech to the FGs desc
for i in range(len(sm)):
  df = df.append(list_to_series(check_for_smart(sm[i],smarts),df), ignore_index=True)

df = df.drop(0, axis=0)
df

,0,1,2,3,4,5,6,7,8,9,...,337,338,339,340,341,342,343,344,345,346
1,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
639,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
641,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Smarts